body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/fondo_registro.jpg");
    background-size: cover;

}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="password"] {
    width: calc(100%);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #00ff0d;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 10px;
}

.mt-4 {
    margin-top: 20px;
}

.register-link a {
    color: #ff7f00; /* Cambio de color del enlace "Regístrate aquí" a naranja */
    text-decoration: none;
}
